{% extends 'base.html' %}

{% load static %}
{% block title %}Update Password - Roren {% endblock %}
{% block content %}

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Other</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Update User Password</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
                        <br>
                        <form method="POST" action="{% url 'cart:update_password' %}">
                            {% csrf_token %}

                            {{ form.as_p }}
                            <br><br>
                            <button type="submit" class="btn btn-secondary">Update Password</button>
                        </form>
                    </div>
                
            </div>
        </div>
<br><br><br><br><br><br><br><br><br><br>

{% endblock %}