{% extends 'base.html' %}

{% load static %}

{% block title %}Brands - Roren{% endblock %}

{% block content %}
<!-- Begin Roren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop</h2>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Shop </li>
            </ul>
        </div>
    </div>
</div>
<!-- Roren's Breadcrumb Area End Here -->

<!-- Begin Roren's Shop Left Sidebar Area -->
<div class="shop-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                <div class="uren-sidebar-catagories_area">
                    <div class="category-module uren-sidebar_categories">
                        <div class="category-module_heading">
                            <h5>Accessories</h5>
                        </div>
                        <div class="module-body">
                            <ul class="module-list_item">
                                {% for accessory in accessories %}
                                <li>
                                    <a href="{% url 'accessoriespage' accessories_id=accessory.id %}">
                                        <strong>{{ accessory.name }}</strong><br>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-banner_area">
                        <div class="banner-item img-hover_effect">
                            <a href="javascript:void(0)">
                                <img src="{% static 'images/shop/1.jpg' %}" alt="Roren's Shop Banner Image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                <div class="shop-toolbar">
                    <div class="product-view-mode">
                        <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top" title="1">1</a>
                        <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                        <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                        <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                        <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                        <a class="list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-th-list"></i></a>
                    </div>
                    <div class="product-item-selection_area">
                        <div class="product-short">
                            <label class="select-label">Short By:</label>
                            <select class="myniceselect nice-select">
                                <option value="1">Default</option>
                                <option value="2">Name, A to Z</option>
                                <option value="3">Name, Z to A</option>
                                <option value="4">Price, low to high</option>
                                <option value="5">Price, high to low</option>
                                <option value="6">Rating (Highest)</option>
                                <option value="7">Rating (Lowest)</option>
                                <option value="8">Model (A - Z)</option>
                                <option value="9">Model (Z - A)</option>
                            </select>
                        </div>
                        <div class="product-showing">
                            <label class="select-label">Show:</label>
                            <select class="myniceselect short-select nice-select">
                                <option value="15">15</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <center>
                    <h1>{{ brand.name }} Products</h1>
                </center>
                <!-- Display Filtered Products -->
                <div class="product-list">
                    {% for prod in prods %}
                    <div class="product-item">
                        <a href="{% url 'singleproduct' prod.id %}">
                            <img src="{{ prod.img.url }}" alt="{{ prod.name }}">
                            <h3>{{ prod.name }}</h3>
                            <p>{{ prod.desc }}</p>
                            <p>Price: Ksh. {{ prod.price }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
