{% extends 'base.html' %}

{% load static %}
{% block title %}Privacy Policy - Roren{% endblock %}
{% block content %}


    <!-- Begin Uren's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Other</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Uren's Breadcrumb Area End Here -->


     <!-- Begin Roren's Policy Area -->
     <div class="frequently-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="privacy-content">
                        <div class="privacy-desc">
                            <h3>Privacy Policy for Roren Auto Motors Company Website</h3>
                            <p>Effective Date: [Insert Date].<br> Thank you for choosing Roren Auto Spares. This Privacy Policy outlines how we collect,
                                 use, disclose, and safeguard your personal information when you visit our website and use our services.<br> By accessing or using our website, you consent to the terms of this Privacy Policy. 
                                 Please read it carefully to understand our practices regarding your personal information.</p>
                        </div>
                    </div>
                    <!-- Begin Privacy Accordin -->
                    <div class="privacy-accordion">
                        <div id="accordion">
                            <div class="card actives">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Information We Collect:
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <strong>1. Personal Information:</strong><br>
                                        We may collect personal information such as your name, address, email address, phone number, 
                                        and other contact details when you place an order or create an account.<br>
                                        <strong>2. Payment Information:</strong><br>
                                        When making a purchase, we collect payment information, including credit card details, 
                                        to process transactions securely.<br>
                                        <strong>3. Browsing Information:</strong><br>
                                        We automatically collect information about your device, IP address, browser type, and 
                                        browsing patterns to enhance your experience and improve our website.<br>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How We Use Your Information
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        We use the collected information for the following purposes:<br>
                                        <strong>1. Order Fulfillment:</strong><br>
                                        To process and fulfill your orders, communicate order status, and provide customer support.<br>
                                        <strong>2. Marketing and Promotions:</strong><br>
                                        To send you promotional materials, newsletters, and offers that may be of interest to you. 
                                        You can opt-out of these communications at any time.<br>
                                        <strong>3. Website Improvement:</strong><br>
                                        To analyze website usage, identify trends, and enhance the functionality and performance of our website.<br>
                                        <strong>4. Legal Compliance:</strong><br>
                                        To comply with legal obligations, resolve disputes, and enforce agreements.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Information Sharing
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        We do not sell, trade, or rent your personal information to third parties. 
                                        We may share your information with trusted service providers who assist us in operating our website, conducting our business, or servicing you. 
                                        These third parties are required to keep your information confidential.<br>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Security
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        We implement industry-standard security measures to protect your information. 
                                        However, no method of transmission over the internet or electronic storage is entirely secure. 
                                        We cannot guarantee the absolute security of your data.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Cookies
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                        We use cookies and similar tracking technologies to improve your browsing experience and gather information about how you interact with our website. 
                                        You can manage your cookie preferences through your browser settings.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Your Choices
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                        You have the right to access, update, and delete your personal information. 
                                        To exercise these rights or if you have any privacy-related concerns, please contact us at 
                                        <a href="mailto:rorenautomotors@gmail.com">rorenautomotors@gmail.com</a>.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSeven">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            Changes to Privacy Policy
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                    <div class="card-body">
                                        We reserve the right to modify this Privacy Policy at any time. Changes will be effective immediately upon posting on our website.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingEight">
                                    <h5 class="mb-0">
                                        <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            Contact Information
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                    <div class="card-body">
                                        If you have any questions or concerns regarding our Privacy Policy, please contact us at:<br>
                                        Roren Auto Spares Company<br>
                                        [Address]<br>
                                        <a href="mailto:rorenautomotors@gmail.com">rorenautomotors@gmail.com</a><br>
                                        +254 742 024 976 / +254 700 559 484<br>
                                        Thank you for trusting Roren Auto Spares. Your privacy is important to us.<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 


{% endblock %}