{% extends 'base.html' %}

{% load static %}
{% block title %}Returns- Roren{% endblock %}
{% block content %}

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h5>Other</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Returns Policy</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="delivery-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="delivery-wrapper">
                            <br><br>
                            <div class="delivery-desc"></div>
                                <h3>Returns Policy</h3>
                                
                            </div>
                            <p class="short_desc">At roren Auto Spares, 
                                Our goal is to give our consumers the best possible shopping experience 
                                together with top-notch merchandise. We regret to notify you that we are 
                                unable to accept returns of any kind, even though we recognize that there 
                                may be situations in which you may need to think about doing so. This policy 
                                is intended to set expectations for our esteemed customers and to be transparent 
                                about our position on returns.</p>
                            <h5>1. No Returns Accepted:</h5>
                            <p> We would like to make it clear that products cannot be returned to Roren Auto Spares 
                                for any reason after they have been purchased. We have a rigorous no-return policy 
                                in place to make sure that our consumers understand the commitment that comes with 
                                buying our products. There are no exceptions to this rule, so please make sure to 
                                carefully review your order before completing the purchase.
                            </p>
                                
                            <h5>2. Detailed Product Descriptions:</h5>
                            <p class="short_desc">We offer comprehensive product descriptions, specifications, 
                                and photographs on our website to help our clients make educated judgments. We 
                                advise you to carefully read over this material before deciding to buy. Before 
                                you make a purchase, our customer service staff is here to answer any queries you may have regarding a product.
                            </p>

                            <h5>3. No Warranty Period:</h5>
                            <p class="short_desc">It's vital to remember that our products don't have a warranty period, 
                                in addition to our no-return policy. Unexpected events sometimes happen even though we 
                                go to great lengths to guarantee the longevity and quality of our products. By buying from 
                                Roren Auto Spares, you agree that there is no guarantee offered for any of the products.
                            </p>
                            
                            <h5>4. Quality Assurance:</h5>
                            <p class="short_desc">We are dedicated to providing goods that are of the greatest 
                                caliber. Before products are shipped, our staff thoroughly inspects them to make 
                                sure they are in perfect condition. Should you, in the unlikely occasion, acquire 
                                a product that is damaged or defective, please get in touch with our customer care team 
                                1 day after placing your order, and we will examine your case individually.
                            </p>

                            <h5>5. Getting in touch with Customer Support:</h5>
                            <p class="short_desc">Our committed customer support team is here to help you with 
                                any queries, worries, or problems pertaining to your order. Kindly get in touch with us 
                                at rorenautomotors@gmail.com or +254 742 024 976/ +254 700 559 484 for quick and tailored help.</p><br>
                                <p>
                                We value your cooperation and understanding in following our no-return policy and acknowledging 
                                that our products are sold as-is with no guarantee. We are grateful that you have selected 
                                Roren Auto Spares and promise to provide you with the best possible service and customer satisfaction.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
{% endblock %}