{% extends 'base.html' %}

{% load static %}
{% block title %}T & C - Roren{% endblock %}
{% block content %}

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h5>Other</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Terms and Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="delivery-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="delivery-wrapper">
                            <br><br>
                            <div class="delivery-desc"></div>
                                <h3>TERMS AND CONDITIONS</h3>
                                
                            </div>
                            <p class="short_desc">At roren Auto Spares, we strive to provide a seamless and efficient delivery process for our customers.</p>
                            <h5>Order Confirmation and Shipment Notification</h5>
                            <p>Customers acknowledge that upon placing an order, 
                                they will receive an order confirmation email detailing the 
                                purchased items and associated costs. Additionally, 
                                the company will provide timely shipment notifications, 
                                including tracking information, once the ordered auto parts 
                                have been dispatched</p>
                                
                            <h5>Product Compatibility Disclaimer</h5>
                            <p class="short_desc">The website emphasizes that customers are responsible 
                                for verifying the compatibility of purchased auto parts with their
                                 specific vehicle make and model. The company is not liable for any 
                                 issues arising from misapplication or compatibility errors on the part 
                                 of the customer.</p>

                            <h5>User Account Security</h5>
                            <p class="short_desc">Users are responsible for maintaining the security of 
                                their account credentials. The company will not be held liable for 
                                unauthorized access or transactions resulting from the compromise 
                                of user account information. Customers are encouraged to use strong 
                                passwords and update them regularly.</p>
                            
                            <h5>Privacy Policy and Data Protection</h5>
                            <p class="short_desc">The company is committed to protecting customer privacy 
                                and personal information. By using the website, customers agree to 
                                the terms outlined in the privacy policy, which includes the collection, 
                                use, and protection of personal data in accordance with applicable data 
                                protection laws.</p>

                            <h5>Website Content Accuracy</h5>
                            <p class="short_desc">While the company strives for accuracy in product 
                                descriptions, images, and other content on the website, customers 
                                acknowledge that occasional errors or inaccuracies may occur. 
                                The company reserves the right to correct any such errors and is not 
                                bound by misinformation that may arise unintentionally.</p>

                            <h5>Promotional Offers and Discounts</h5>
                            <p class="short_desc">Any promotional offers, discounts, or coupon codes 
                                provided by the company are subject to specific terms and conditions. 
                                Customers must adhere to the stated guidelines, and the company reserves 
                                the right to modify or terminate promotions at its discretion. 
                                Promotional offers cannot be combined unless explicitly stated.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
{% endblock %}